 <div class="modal fade" id="modal-connexion" tabindex="-1" role="dialog" aria-labelledby="modalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header" style="background:  #d6014b;">
             <h2 class="modal-title" id="modalTitle"  style="color:  #e3e3e3;"><b> ATTENTION!</b></h2 >
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body" style="color:#171f21;">
           <strong> Connectez-vous afin de pouvoir l'ajouter à vos favoris!</strong>
        </div>
        <div class="modal-footer justify-content-between">
              <a href="{{path('app_login')}}" ><button type="button" class="btn btn-default" >Se Connecter</button></a>
        </div>
    </div>
  </div>
</div>