
    <div class="container" id="flash">
     {% for label, messages in app.flashes(['success','error']) %}
        {% for message in messages %}
            {% if label == "success" %}
                 <div class="alert alert-success" style="background:#9fed93; color:#3c403c; border-radius:0.250rem; border:0.5px #6bb373 ;  box-shadow: 1px 1px 0px #b0ccab; ">
                
            {% endif %}
             {% if label == "error" %}
                 <div class="alert alert-danger" style="background:#E1173F; color:#3c403c; border-radius:0.250rem; border:0.5px #6bb373 ;  box-shadow: 1px 1px 0px #b0ccab; ">
                
            {% endif %}
                {{ message }}
            </div>
        {% endfor %}
        
    {% endfor %}
    </div>
