{% extends 'base.html.twig' %}

{% block title %}Legume index{% endblock %}

{% block body %}
<div class="container">
{% if page == 'favoris' %}
    <h1 style="text-align: center; margin-top: 10px;  margin-bottom: 30px;">Mon potager</h1>
{% else %}
    
    <h1 style="text-align: center; margin-top: 10px;  margin-bottom: 30px;">Liste de toutes les plantes</h1>
    
{% endif %}
            <div class="row">
    
        {% for legume in legumes %}
        
                <div class="col">
                    <div class="card"  style="width: 18rem;">
                            <img  class="card-img-top" src="{{ legume.image }}"  width="150px" height="150px">
                            <div class="card-body">
                            {% if page == "tous" %}
                                <h5 class="card-title">{{ legume.nomLeg }}</h5>
                                
                            {% endif %}
                            {% if page == "parCat" %}
                                
                                <h5 class="card-title">{{ legume.nom_leg }}</h5>
                            {% endif %}

                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                <a href="{{path('legume_show',{'id': legume.id})}}" class="btn btn-primary">Voir</a>
                            </div>
                            
                        
                        
                    </div>
                </div>
        {% else %}
           no records found
        {% endfor %}
            </div>

        </div>
{% endblock %}
